In [1]:
class Student():
  def __init__(self , name , roll_no , marks = 0):
    self.__name = name
    self.__roll_no = roll_no
    self.__marks = marks

  def get_name(self):
    return self.__name

  def get_roll_no(self):
    return self.__roll_no

  def get_marks(self):
    return self.__marks

  def set_marks(self , marks):
    if 0 <= marks <= 100:
      self.__marks = marks

    else:
      print("Wrong Marks")

In [2]:
s1 = Student("Ali" , 101)

In [7]:
print(s1.get_name())
print(s1.get_marks())
print(s1.get_roll_no())

Ali
0
101

In [8]:
s1.set_marks(96)
print(s1.get_marks())

96