In [23]:
class Employee():
  def __init__(self , name , salary):
    self.__name = name
    self.__salary = salary

  def get_name(self):
    return self.__name

  def set_salary(self , salary):
    if salary > 0:
      self.__salary = salary
    else:

     print("Salary is negative")

  def show(self):
       print(f"Name: {self.__name} , Salary: {self.__salary}")

In [24]:
emp = Employee("Hassan" , 100000)

In [25]:
print(emp.get_name())

Hassan

In [26]:
emp.set_salary(200000)

In [27]:
emp.show()

Name: Hassan , Salary: 200000