In [4]:
class vehicle():
  def __init__(self , brand , model):
    self.brand = brand
    self.model = model

  def show_detail(self):
    print(f"Brand {self.brand}")
    print(f"Model {self.model}")

In [5]:
class car(vehicle):
  def __init__(self , brand , model , seats):
    super().__init__(brand , model)
    self.seats = seats

  def show_detail(self):
    super().show_detail()
    print(f"Seats {self.seats}")

In [6]:
c = car("Toyota" , "Corolla" , 5)
c.show_detail()

Brand Toyota
Model Corolla
Seats 5